<VirtualHost *:80>
    DocumentRoot /var/www/html/public
    #SetEnv HTTPS on
    ServerName $DOMAIN
    ErrorLog /var/log/httpd/error.log
    CustomLog /var/log/httpd/access.log combinedcustomized
    <Directory "/var/www/html/public">
        Options -Indexes
        AllowOverride All

        Order allow,deny
        allow from all
    </Directory>
</VirtualHost>
